* {
    border: none;
    border-radius: 0;
    /*font-family: Roboto, Helvetica, Arial, sans-serif;*/
    font-family: Hack, Terminus;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
/*    background-color: rgba(43, 48, 59, 0.5); */
/*    background-color: rgba(0, 0, 0, 0.75); */
    background: transparent;
    border-bottom: 1px solid rgba(100, 114, 125, 0.5);
    color: rgba(254, 254, 254, 0.55);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#custom-alsa {
    color: #ffffff;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    margin-right: 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 1px solid #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    border-bottom: 1px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,

#mode,
#idle_inhibitor {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

#clock {
    color: #ffffff;
}

#battery {
    color: #ffffff;
}

#battery.charging {
    color: #ffffff;
    background-color: rgba(51, 153, 51, 0.5);
    /*background-color: #26A65B;*/
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: #ffffff;
}

#memory {
    color: #ffffff;
}

#backlight {

}

#network {

}

#network.disconnected {

}

#pulseaudio {
    color: #ffffff;
}

#pulseaudio.muted {
    color: #2a5c45;
}

#custom-media {
    color: #ffffff;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    /*background-color: #2980b9;*/
    background-color: rgba(0, 0, 0, 0.0);
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
